.studetdetails {
    background-color: rgba(0, 0, 255, 0.116);
    border-radius: 30px;
    margin-top: 40px;
    padding: 40px;
    border: 2px solid blue;
    width: 100%;
  }
  
  .Form {
    background-color: rgb(55, 55, 63);
    border-radius: 30px;
    padding: 20px;
    background-color: rgb(4, 4, 65);
  }
  
  .Form Button {
    background-color: blue;
    width: 100px;
    color: antiquewhite;
    margin: 30px;
    text-align: center;
  }
  
  .datas {
    color: blue;
  }
  
  /* Media queries */
  
  @media (max-width: 768px) {
    .studetdetails {
      padding: 20px;
    }
    .Form {
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .studetdetails {
      padding: 10px;
    }
    .Form {
      padding: 5px;
    }
  }